<h2>Menu</h2>
<div>
	<div class="container">

	  <!-- Three columns of text below the carousel -->
	  <div class="row">
	    <div class="face">
	      <img class="img-circle" src="" style="width: 140px; height: 140px;">
	      <h3>Face</h3>
	      <p></p>
	      <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p>
	    </div>
	    <div class="typing">
	      <img class="img-circle" src="" style="width: 140px; height: 140px;">
	      <h3>Typing Pattern</h3>
	      <p>TYPE</p>
	      <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p>
	    </div>
	    <div class="password">
	      <img class="img-circle" src="" style="width: 140px; height: 140px;">
	      <h3>Password</h3>
	      <p>PASSWORD</p>
	      <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p>
	    </div>
	  </div>
