<h2>Menu</h2>
<div>
    <div class="container">
        <div class="row">
            <div class="face">
                <a href="/module/face"><img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/7/77/Polygon_face.jpg" style="width: 140px; height: 140px;"></a>
                <h3>Face</h3>
                <p>We'll take a snapshot and check who you are. <br>You can't forget your face!</p>
                <!-- <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p> -->
            </div>
            <div class="typing">
                <a href="/module/tempo"><img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/0/0a/QWERTY_keyboard.jpg" style="width: 140px; height: 140px;"></a>
                <h3>Typing Pattern</h3>
                <p>Everyone has a unique typing pattern. Just type away and we'll determine your rhythm.</p>
                <!-- <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p> -->
            </div>
            <div class="password">
                <a href="/module/password"><img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/9/98/SafeWalletLogo.png" style="width: 140px; height: 140px;"></a>
                <h3>Password</h3>
                <p>Classic password authentication. </p>
              <!--   <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p> -->
            </div>
        </div>
    </div>
</div>