<form action="/login" method="post">
    <div>
      <input id="username" type="text" name="username" placeholder="Enter your email address">
    </div>
    <div>
      <input type="submit" value="Go">
    </div>
</form>
<p>
  <a href="/signup">Create an Account &rarr;</a>
<p>
