<div class="container">
    <form action="/login" method="post" class="form-signin" role="form">
        <input id="username" type="email" name="username" class="form-control" placeholder="Enter your email address">
        <div class="button">
            <input class="signin" type="submit" value="Sign in"/>
            <!-- <button class="signup" type="submit">Sign up</button>-->
        </div>
    </form>
</div>
