<h4>Set up Facial Recognition Authentication</h4>
    <!--Main video element -->
    <input type='button' id='snapshot' value="snapshot"/>
    <p>Pose for the camera and click on snapshot to take a picture!</p>
    <video id="myVideo"></video>

    <!--canvas element for output -->
    <canvas id='output' width="105" height="105"></canvas> 
<!--Script files-->
<script type="text/javascript" src="/face/script.js"></script>
