<h2>Set up Facial Recognition Authentication Rule</h2>
    <!--Main video element -->
    <p>Pose for the camera and click on snapshot to take a picture!</p>
    <video id="myVideo"></video>

    <!--canvas element for output -->
    <form><input type='button' id='snapshot' value="snapshot"/></form> 
    <canvas id='output' width="105" height="105"></canvas> 
<!--Script files-->
<script type="text/javascript" src="/lib/face/script.js"></script>
