<h2>Facial Recognition Authentication</h2>
<div>
    <!--Main video element -->
    <p>Pose for the camera and click on snapshot to take a picture!</p>
    <video id="myVideo" width="320" height="240"></video>

    <!--canvas element for output -->
    <form><input type='button' id='snapshot' value="snapshot"/></form> 
    <canvas id='output'></canvas> 
</div>

<!--Script files-->
<script type="text/javascript" src="/lib/modules/faceRecognition/script.js"></script>
