<h4> Please type anything you like at a comfortable pace: </h4>
<form id = "#form">
<button type="submit"> Submit </button>
<div id="text-area">
</div>
</form>
<script src = "/tempo/tempo-client.js"></script>
<script src = "/lib/jquery.min.js"></script>